In [ ]:
from concurrent.futures import ThreadPoolExecutor, TimeoutError
import pandas as pd
import sqlite3
import time
import os


# ğŸ”§ Pad naar database en timeout
DB_PATH = 'C:/Users/NihalBoukhoubza/OneDrive/Scriptie/shoppingDB_sqlite.sqlite'
TIMEOUT = 5

# âœ… Functie om query te checken
def check_query(args):
    query, i, queryNumber, CORRECT_RESULTS = args
    message = ""

    try:
        # Verbind binnen de thread
        conn = sqlite3.connect(DB_PATH, timeout=1.0)
        start = time.time()
        answer = pd.read_sql_query(query, conn)
        conn.close()
        end = time.time()
        processtime = end - start

        correct = CORRECT_RESULTS.get(queryNumber)
        score = 0
        if correct is not None:
            for item in correct:
                if answer.equals(item):
                    score = 2
                    break

        return [score, message, processtime]
    except Exception as e:
        return [1, str(e), 20]

# âœ… Correctheid berekenen met threads en logging
def calculateCorrectness(queryList, queryNumberList):
    result, error, processtime = [], [], []

    with ThreadPoolExecutor(max_workers=22) as executor:
        futures = [executor.submit(check_query, (queryList[i], i, queryNumberList[i], CORRECT_RESULTS))
                   for i in range(len(queryList))]

        for i, future in enumerate(futures):
            try:
                item = future.result(timeout=TIMEOUT)
                result.append(item[0])
                error.append(item[1])
                processtime.append(item[2])
            except TimeoutError:
                print(f"âš ï¸ Query {i} duurde langer dan {TIMEOUT} seconden.")
                result.append(3)
                error.append("timeout")
                processtime.append(20)
            except Exception as e:
                print(f"âŒ Fout bij query {i}: {str(e)}")
                result.append(1)
                error.append(str(e))
                processtime.append(20)

            if i % 100 == 0 and i > 0:
                print(f"âœ… {i} queries verwerkt...")

    return result, error, processtime

# âœ… Startpunt script
if __name__ == '__main__':
    print("ğŸ“¥ Verbinden met database...")
    conn = sqlite3.connect(DB_PATH)

    CORRECT_RESULTS = {
    '3_3': #Select all different names and ids of the customers who never made a purchase at a store with the name â€˜Kumarâ€™. 
        # Also include the customers who never made a purchase, but are still represented in the customer relation of our database.
       [pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Kumar'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Coop'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Hoogvliet'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Jumbo'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Sligro'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Albert Hein'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Lidl'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Dirk'
                                )
                            ''', conn)

                ],
    '3_4': #Select all different names and ids of customers who made at least one purchase at a store with the name â€˜Kumarâ€™ and never a purchase at a store with a different name than â€˜Kumarâ€™.        
        [pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Kumar' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Kumar'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Jumbo' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Jumbo'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Dirk' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Dirk'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Hoogvliet' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Hoogvliet'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Albert Hein' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Albert Hein'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Sligro' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Sligro'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Coop' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Coop'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Lidl' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Lidl'
                            )
                            ''', conn)
                ],
    '3_2': #Select all distinct combinations of names and ids of customers who have both a shoppinglist and a purchase, both for the same date in 2018.
        [pd.read_sql_query('''SELECT DISTINCT c.cID, c.cName
                            FROM customer as c, shoppinglist as sl, purchase as p
                            WHERE c.cID = sl.cID
                            AND p.cID = c.cID
                            and sl.date = p.date
                            and sl.date LIKE'%2018%';
                            ''', conn)
                ],
    '4_3': #Write a SQL query for the following RA query
        [pd.read_sql_query('''select sName
                            from store
                            except
                            select sName
                            from (
                               select s.sName, c.city
                                from store as s, (
                                    select city from customer
                                    union
                                    select city from store) as c
                                except
                                select sName, city from store) as a;
                            ''', conn)     
                ],
    '4_4': #List the names of all of those customers, and only of those customers, 
        #that spent an amount of money on any one date that is at least 75% of the maximal amount of money ever spent by a single customer on a single day.
        [pd.read_sql_query('''with ods(cID, date, amount) as (   
                                    select cID, date, sum(quantity * price)   
                                    from purchase   
                                    group by cID, date),
                                mods(amount) as (   
                                    select max(amount)
                                    from ods)
                                select cName from customer, ods, mods
                                where customer.cID = ods.cID and     
                                ods.amount >= 0.75 * mods.amount;
                            ''', conn)
                ],
    '4_5':
        [pd.read_sql_query('''select x.city as city, sum(x.numCustomersPerCity) as numCustomersPerCity
                            from (
                            select y.city, count(*) as numCustomersPerCity
                            from (
                                select distinct c.city, c.cid
                                from customer as c, store as s, purchase as p
                                where c.cid = p.cid and s.sid = p.sid and s.city = "Eindhoven"
                            ) as y
                            group by y.city
                            union
                            select city, 0 as numCustomersPerCity
                            from store
                            union
                            select city, 0 as numCustomersPerCity
                            from customer
                            ) as x
                            group by x.city;''', conn)]
    }


    # ğŸ“‚ Laad de query data
    filename = "C:/Users/NihalBoukhoubza/OneDrive/Scriptie/query_analysis_with_time.csv"
    data = pd.read_csv(filename, sep=',', engine='python', header=0)
    data.columns = data.columns.str.strip()

    print("ğŸ” Kolommen:", data.columns)

    # ğŸ§ª Optioneel: tijdelijk beperken tot eerste 100 queries voor test
    # data = data.head(100)

    print("ğŸš€ Queries controleren...")
    correctness = calculateCorrectness(data['Query'].tolist(), data['Query Name'].tolist())
    data['correct'] = correctness[0]
    data['errormessage'] = correctness[1]
    data['runningtime'] = correctness[2]

    # ğŸ’¾ Opslaan
    output_file = "output_correct.csv"
    data.to_csv(output_file, sep='â”€', index=False, header=True)
    print(f"âœ… Klaar! Resultaten opgeslagen in '{output_file}'")

ğŸ“¥ Verbinden met database...
ğŸ” Kolommen: Index(['Folder', 'File', 'Timestamp', 'Query Name', 'Query', 'Contains error',
       'Error Type', 'Error Message', 'Bracket Count', 'Table Count',
       'Where Count', 'Group By Count', 'Select Count', 'From Count',
       'Join Count', 'Having count', 'Distinct count', 'Group By & Having',
       'Order by count', 'Count Count', 'Sum Count', 'Max Count',
       'Limit Count', 'Union Count', 'As Count', '= Count', '< Count',
       '> Count', 'Like Count', 'In Count', 'with Count', 'Length Count',
       'Word Count', 'Subquery count', 'Comments Count',
       'Invalid Column Count', 'Invalid Tables Count', 'Where Condition Count',
       'Time Spent (seconds)', 'Time Spent (minutes)'],
      dtype='object')
ğŸš€ Queries controleren...
âš ï¸ Query 8 duurde langer dan 5 seconden.
âš ï¸ Query 9 duurde langer dan 5 seconden.
âš ï¸ Query 11 duurde langer dan 5 seconden.
âš ï¸ Query 24 duurde langer dan 5 seconden.
âš ï¸ Query 27 duurde langer dan 5 seconden.
âš ï¸ Query 28 duurde langer dan 5 seconden.
âœ… 100 queries verwerkt...
âœ… 200 queries verwerkt...
âœ… 300 queries verwerkt...
âš ï¸ Query 311 duurde langer dan 5 seconden.
âš ï¸ Query 323 duurde langer dan 5 seconden.
âš ï¸ Query 330 duurde langer dan 5 seconden.
âš ï¸ Query 331 duurde langer dan 5 seconden.
âœ… 400 queries verwerkt...
âš ï¸ Query 429 duurde langer dan 5 seconden.
âš ï¸ Query 499 duurde langer dan 5 seconden.
âœ… 500 queries verwerkt...
âš ï¸ Query 501 duurde langer dan 5 seconden.
âš ï¸ Query 502 duurde langer dan 5 seconden.
âš ï¸ Query 545 duurde langer dan 5 seconden.
âš ï¸ Query 550 duurde langer dan 5 seconden.
âš ï¸ Query 551 duurde langer dan 5 seconden.
âš ï¸ Query 552 duurde langer dan 5 seconden.
âš ï¸ Query 553 duurde langer dan 5 seconden.
âš ï¸ Query 554 duurde langer dan 5 seconden.
âš ï¸ Query 555 duurde langer dan 5 seconden.
âš ï¸ Query 577 duurde langer dan 5 seconden.
âš ï¸ Query 578 duurde langer dan 5 seconden.
âš ï¸ Query 579 duurde langer dan 5 seconden.
âœ… 600 queries verwerkt...
âš ï¸ Query 665 duurde langer dan 5 seconden.
âš ï¸ Query 690 duurde langer dan 5 seconden.
âš ï¸ Query 691 duurde langer dan 5 seconden.
âš ï¸ Query 692 duurde langer dan 5 seconden.
âš ï¸ Query 693 duurde langer dan 5 seconden.
âš ï¸ Query 694 duurde langer dan 5 seconden.
âš ï¸ Query 695 duurde langer dan 5 seconden.
âœ… 700 queries verwerkt...
âœ… 800 queries verwerkt...
âœ… 900 queries verwerkt...
âš ï¸ Query 912 duurde langer dan 5 seconden.
âš ï¸ Query 913 duurde langer dan 5 seconden.
âš ï¸ Query 914 duurde langer dan 5 seconden.
âš ï¸ Query 915 duurde langer dan 5 seconden.
âš ï¸ Query 916 duurde langer dan 5 seconden.
âœ… 1000 queries verwerkt...
âœ… 1100 queries verwerkt...
âš ï¸ Query 1127 duurde langer dan 5 seconden.
âš ï¸ Query 1128 duurde langer dan 5 seconden.
âš ï¸ Query 1129 duurde langer dan 5 seconden.
âš ï¸ Query 1130 duurde langer dan 5 seconden.
âš ï¸ Query 1131 duurde langer dan 5 seconden.
âš ï¸ Query 1132 duurde langer dan 5 seconden.
âš ï¸ Query 1133 duurde langer dan 5 seconden.
âš ï¸ Query 1134 duurde langer dan 5 seconden.
âš ï¸ Query 1135 duurde langer dan 5 seconden.
âš ï¸ Query 1136 duurde langer dan 5 seconden.
âš ï¸ Query 1137 duurde langer dan 5 seconden.
âš ï¸ Query 1138 duurde langer dan 5 seconden.
âš ï¸ Query 1139 duurde langer dan 5 seconden.
âš ï¸ Query 1140 duurde langer dan 5 seconden.
âš ï¸ Query 1141 duurde langer dan 5 seconden.
âš ï¸ Query 1142 duurde langer dan 5 seconden.
âš ï¸ Query 1143 duurde langer dan 5 seconden.
âš ï¸ Query 1144 duurde langer dan 5 seconden.
âš ï¸ Query 1145 duurde langer dan 5 seconden.
âš ï¸ Query 1146 duurde langer dan 5 seconden.
âš ï¸ Query 1147 duurde langer dan 5 seconden.
âš ï¸ Query 1148 duurde langer dan 5 seconden.
âš ï¸ Query 1149 duurde langer dan 5 seconden.
âš ï¸ Query 1150 duurde langer dan 5 seconden.
âš ï¸ Query 1151 duurde langer dan 5 seconden.
âš ï¸ Query 1152 duurde langer dan 5 seconden.
âš ï¸ Query 1153 duurde langer dan 5 seconden.
âš ï¸ Query 1154 duurde langer dan 5 seconden.
âš ï¸ Query 1155 duurde langer dan 5 seconden.
âš ï¸ Query 1156 duurde langer dan 5 seconden.
âš ï¸ Query 1157 duurde langer dan 5 seconden.
âš ï¸ Query 1158 duurde langer dan 5 seconden.
âš ï¸ Query 1159 duurde langer dan 5 seconden.
âš ï¸ Query 1160 duurde langer dan 5 seconden.
âš ï¸ Query 1161 duurde langer dan 5 seconden.
âš ï¸ Query 1162 duurde langer dan 5 seconden.
âš ï¸ Query 1163 duurde langer dan 5 seconden.
âš ï¸ Query 1164 duurde langer dan 5 seconden.
âš ï¸ Query 1165 duurde langer dan 5 seconden.
âš ï¸ Query 1166 duurde langer dan 5 seconden.
âš ï¸ Query 1167 duurde langer dan 5 seconden.
âš ï¸ Query 1168 duurde langer dan 5 seconden.
âš ï¸ Query 1169 duurde langer dan 5 seconden.
âš ï¸ Query 1170 duurde langer dan 5 seconden.
âš ï¸ Query 1171 duurde langer dan 5 seconden.
âš ï¸ Query 1172 duurde langer dan 5 seconden.
âš ï¸ Query 1173 duurde langer dan 5 seconden.
âš ï¸ Query 1174 duurde langer dan 5 seconden.
âš ï¸ Query 1175 duurde langer dan 5 seconden.
âš ï¸ Query 1176 duurde langer dan 5 seconden.
âš ï¸ Query 1177 duurde langer dan 5 seconden.
âš ï¸ Query 1178 duurde langer dan 5 seconden.
âš ï¸ Query 1179 duurde langer dan 5 seconden.
âš ï¸ Query 1180 duurde langer dan 5 seconden.
âš ï¸ Query 1181 duurde langer dan 5 seconden.
âš ï¸ Query 1182 duurde langer dan 5 seconden.
âš ï¸ Query 1183 duurde langer dan 5 seconden.
âš ï¸ Query 1184 duurde langer dan 5 seconden.
âš ï¸ Query 1185 duurde langer dan 5 seconden.
âš ï¸ Query 1186 duurde langer dan 5 seconden.
âš ï¸ Query 1187 duurde langer dan 5 seconden.
âš ï¸ Query 1188 duurde langer dan 5 seconden.
âš ï¸ Query 1189 duurde langer dan 5 seconden.
âš ï¸ Query 1190 duurde langer dan 5 seconden.
âš ï¸ Query 1191 duurde langer dan 5 seconden.
âš ï¸ Query 1192 duurde langer dan 5 seconden.
âš ï¸ Query 1193 duurde langer dan 5 seconden.
âš ï¸ Query 1194 duurde langer dan 5 seconden.
âš ï¸ Query 1195 duurde langer dan 5 seconden.
âš ï¸ Query 1196 duurde langer dan 5 seconden.
âš ï¸ Query 1197 duurde langer dan 5 seconden.
âš ï¸ Query 1198 duurde langer dan 5 seconden.
âš ï¸ Query 1199 duurde langer dan 5 seconden.
âš ï¸ Query 1200 duurde langer dan 5 seconden.
âœ… 1200 queries verwerkt...
âš ï¸ Query 1201 duurde langer dan 5 seconden.
âš ï¸ Query 1202 duurde langer dan 5 seconden.
âš ï¸ Query 1203 duurde langer dan 5 seconden.
âš ï¸ Query 1204 duurde langer dan 5 seconden.
âš ï¸ Query 1205 duurde langer dan 5 seconden.
âš ï¸ Query 1206 duurde langer dan 5 seconden.
âš ï¸ Query 1251 duurde langer dan 5 seconden.
âš ï¸ Query 1253 duurde langer dan 5 seconden.
âš ï¸ Query 1254 duurde langer dan 5 seconden.
âš ï¸ Query 1255 duurde langer dan 5 seconden.
âš ï¸ Query 1256 duurde langer dan 5 seconden.
âš ï¸ Query 1257 duurde langer dan 5 seconden.
âš ï¸ Query 1258 duurde langer dan 5 seconden.
âš ï¸ Query 1259 duurde langer dan 5 seconden.
âš ï¸ Query 1260 duurde langer dan 5 seconden.
âš ï¸ Query 1261 duurde langer dan 5 seconden.
âš ï¸ Query 1262 duurde langer dan 5 seconden.
âš ï¸ Query 1263 duurde langer dan 5 seconden.
âš ï¸ Query 1264 duurde langer dan 5 seconden.
âš ï¸ Query 1265 duurde langer dan 5 seconden.
âš ï¸ Query 1266 duurde langer dan 5 seconden.
âš ï¸ Query 1267 duurde langer dan 5 seconden.
âš ï¸ Query 1268 duurde langer dan 5 seconden.
âš ï¸ Query 1269 duurde langer dan 5 seconden.
âš ï¸ Query 1270 duurde langer dan 5 seconden.
âš ï¸ Query 1271 duurde langer dan 5 seconden.
âš ï¸ Query 1272 duurde langer dan 5 seconden.
âš ï¸ Query 1273 duurde langer dan 5 seconden.
âš ï¸ Query 1274 duurde langer dan 5 seconden.
âš ï¸ Query 1275 duurde langer dan 5 seconden.
âš ï¸ Query 1276 duurde langer dan 5 seconden.
âš ï¸ Query 1277 duurde langer dan 5 seconden.
âš ï¸ Query 1278 duurde langer dan 5 seconden.
âš ï¸ Query 1279 duurde langer dan 5 seconden.
âš ï¸ Query 1280 duurde langer dan 5 seconden.
âš ï¸ Query 1281 duurde langer dan 5 seconden.
âš ï¸ Query 1282 duurde langer dan 5 seconden.
âš ï¸ Query 1283 duurde langer dan 5 seconden.
âš ï¸ Query 1284 duurde langer dan 5 seconden.
âš ï¸ Query 1285 duurde langer dan 5 seconden.
âš ï¸ Query 1286 duurde langer dan 5 seconden.
âš ï¸ Query 1287 duurde langer dan 5 seconden.
âš ï¸ Query 1288 duurde langer dan 5 seconden.
âš ï¸ Query 1289 duurde langer dan 5 seconden.
âš ï¸ Query 1290 duurde langer dan 5 seconden.
âš ï¸ Query 1291 duurde langer dan 5 seconden.
âš ï¸ Query 1292 duurde langer dan 5 seconden.
âš ï¸ Query 1293 duurde langer dan 5 seconden.
âš ï¸ Query 1294 duurde langer dan 5 seconden.
âš ï¸ Query 1295 duurde langer dan 5 seconden.
âš ï¸ Query 1296 duurde langer dan 5 seconden.
âš ï¸ Query 1297 duurde langer dan 5 seconden.
âš ï¸ Query 1298 duurde langer dan 5 seconden.
âš ï¸ Query 1299 duurde langer dan 5 seconden.
âš ï¸ Query 1300 duurde langer dan 5 seconden.
âœ… 1300 queries verwerkt...
âš ï¸ Query 1301 duurde langer dan 5 seconden.
âš ï¸ Query 1302 duurde langer dan 5 seconden.
âš ï¸ Query 1303 duurde langer dan 5 seconden.
âš ï¸ Query 1304 duurde langer dan 5 seconden.
âš ï¸ Query 1305 duurde langer dan 5 seconden.
âš ï¸ Query 1306 duurde langer dan 5 seconden.
âš ï¸ Query 1307 duurde langer dan 5 seconden.
âš ï¸ Query 1308 duurde langer dan 5 seconden.
âš ï¸ Query 1309 duurde langer dan 5 seconden.
âš ï¸ Query 1310 duurde langer dan 5 seconden.
âš ï¸ Query 1311 duurde langer dan 5 seconden.
âš ï¸ Query 1312 duurde langer dan 5 seconden.
âš ï¸ Query 1313 duurde langer dan 5 seconden.
âš ï¸ Query 1314 duurde langer dan 5 seconden.
âš ï¸ Query 1315 duurde langer dan 5 seconden.
âš ï¸ Query 1316 duurde langer dan 5 seconden.
âš ï¸ Query 1317 duurde langer dan 5 seconden.
âš ï¸ Query 1318 duurde langer dan 5 seconden.
âš ï¸ Query 1319 duurde langer dan 5 seconden.
âš ï¸ Query 1320 duurde langer dan 5 seconden.
âš ï¸ Query 1321 duurde langer dan 5 seconden.
âš ï¸ Query 1322 duurde langer dan 5 seconden.
âš ï¸ Query 1323 duurde langer dan 5 seconden.
âš ï¸ Query 1324 duurde langer dan 5 seconden.
âš ï¸ Query 1325 duurde langer dan 5 seconden.
âš ï¸ Query 1326 duurde langer dan 5 seconden.
âš ï¸ Query 1327 duurde langer dan 5 seconden.
âš ï¸ Query 1328 duurde langer dan 5 seconden.
âš ï¸ Query 1329 duurde langer dan 5 seconden.
âš ï¸ Query 1330 duurde langer dan 5 seconden.
âš ï¸ Query 1331 duurde langer dan 5 seconden.
âš ï¸ Query 1332 duurde langer dan 5 seconden.
âš ï¸ Query 1333 duurde langer dan 5 seconden.
âš ï¸ Query 1334 duurde langer dan 5 seconden.
âš ï¸ Query 1335 duurde langer dan 5 seconden.
âš ï¸ Query 1336 duurde langer dan 5 seconden.
âš ï¸ Query 1337 duurde langer dan 5 seconden.
âš ï¸ Query 1338 duurde langer dan 5 seconden.
âš ï¸ Query 1339 duurde langer dan 5 seconden.
âš ï¸ Query 1340 duurde langer dan 5 seconden.
âš ï¸ Query 1341 duurde langer dan 5 seconden.
âš ï¸ Query 1342 duurde langer dan 5 seconden.
âš ï¸ Query 1343 duurde langer dan 5 seconden.
âš ï¸ Query 1344 duurde langer dan 5 seconden.
âš ï¸ Query 1345 duurde langer dan 5 seconden.
âš ï¸ Query 1346 duurde langer dan 5 seconden.
âš ï¸ Query 1347 duurde langer dan 5 seconden.
âš ï¸ Query 1348 duurde langer dan 5 seconden.
âš ï¸ Query 1349 duurde langer dan 5 seconden.
âš ï¸ Query 1350 duurde langer dan 5 seconden.
âš ï¸ Query 1351 duurde langer dan 5 seconden.
âš ï¸ Query 1352 duurde langer dan 5 seconden.
âš ï¸ Query 1353 duurde langer dan 5 seconden.
âš ï¸ Query 1354 duurde langer dan 5 seconden.
âš ï¸ Query 1355 duurde langer dan 5 seconden.
âš ï¸ Query 1356 duurde langer dan 5 seconden.
âš ï¸ Query 1357 duurde langer dan 5 seconden.
âš ï¸ Query 1358 duurde langer dan 5 seconden.
âš ï¸ Query 1359 duurde langer dan 5 seconden.
âš ï¸ Query 1360 duurde langer dan 5 seconden.
âš ï¸ Query 1361 duurde langer dan 5 seconden.
âš ï¸ Query 1362 duurde langer dan 5 seconden.
âš ï¸ Query 1363 duurde langer dan 5 seconden.
âš ï¸ Query 1364 duurde langer dan 5 seconden.
âš ï¸ Query 1365 duurde langer dan 5 seconden.
âš ï¸ Query 1366 duurde langer dan 5 seconden.
âš ï¸ Query 1367 duurde langer dan 5 seconden.
âš ï¸ Query 1368 duurde langer dan 5 seconden.
âš ï¸ Query 1369 duurde langer dan 5 seconden.
âš ï¸ Query 1370 duurde langer dan 5 seconden.
âš ï¸ Query 1371 duurde langer dan 5 seconden.
âš ï¸ Query 1372 duurde langer dan 5 seconden.
âš ï¸ Query 1373 duurde langer dan 5 seconden.
âš ï¸ Query 1374 duurde langer dan 5 seconden.
âš ï¸ Query 1375 duurde langer dan 5 seconden.
âš ï¸ Query 1376 duurde langer dan 5 seconden.
âš ï¸ Query 1377 duurde langer dan 5 seconden.
âš ï¸ Query 1378 duurde langer dan 5 seconden.
âš ï¸ Query 1379 duurde langer dan 5 seconden.
âš ï¸ Query 1380 duurde langer dan 5 seconden.
âš ï¸ Query 1381 duurde langer dan 5 seconden.
âš ï¸ Query 1382 duurde langer dan 5 seconden.
âš ï¸ Query 1383 duurde langer dan 5 seconden.
âš ï¸ Query 1384 duurde langer dan 5 seconden.
âš ï¸ Query 1385 duurde langer dan 5 seconden.
âš ï¸ Query 1386 duurde langer dan 5 seconden.
âš ï¸ Query 1387 duurde langer dan 5 seconden.
âš ï¸ Query 1388 duurde langer dan 5 seconden.
âš ï¸ Query 1389 duurde langer dan 5 seconden.
âš ï¸ Query 1390 duurde langer dan 5 seconden.
âš ï¸ Query 1391 duurde langer dan 5 seconden.
âš ï¸ Query 1392 duurde langer dan 5 seconden.
âš ï¸ Query 1393 duurde langer dan 5 seconden.
âš ï¸ Query 1394 duurde langer dan 5 seconden.
âš ï¸ Query 1395 duurde langer dan 5 seconden.
âš ï¸ Query 1396 duurde langer dan 5 seconden.
âš ï¸ Query 1397 duurde langer dan 5 seconden.
âš ï¸ Query 1398 duurde langer dan 5 seconden.
âš ï¸ Query 1399 duurde langer dan 5 seconden.
âš ï¸ Query 1400 duurde langer dan 5 seconden.
âœ… 1400 queries verwerkt...
âš ï¸ Query 1401 duurde langer dan 5 seconden.
âš ï¸ Query 1402 duurde langer dan 5 seconden.
âš ï¸ Query 1403 duurde langer dan 5 seconden.
âš ï¸ Query 1404 duurde langer dan 5 seconden.
âš ï¸ Query 1405 duurde langer dan 5 seconden.
âš ï¸ Query 1406 duurde langer dan 5 seconden.
âš ï¸ Query 1407 duurde langer dan 5 seconden.
âš ï¸ Query 1408 duurde langer dan 5 seconden.
âš ï¸ Query 1409 duurde langer dan 5 seconden.
âš ï¸ Query 1410 duurde langer dan 5 seconden.
âš ï¸ Query 1411 duurde langer dan 5 seconden.
âš ï¸ Query 1412 duurde langer dan 5 seconden.
âš ï¸ Query 1413 duurde langer dan 5 seconden.
âš ï¸ Query 1414 duurde langer dan 5 seconden.
âš ï¸ Query 1415 duurde langer dan 5 seconden.
âš ï¸ Query 1416 duurde langer dan 5 seconden.
âš ï¸ Query 1417 duurde langer dan 5 seconden.
âš ï¸ Query 1418 duurde langer dan 5 seconden.
âš ï¸ Query 1419 duurde langer dan 5 seconden.
âš ï¸ Query 1420 duurde langer dan 5 seconden.
âš ï¸ Query 1421 duurde langer dan 5 seconden.
âš ï¸ Query 1422 duurde langer dan 5 seconden.
âš ï¸ Query 1423 duurde langer dan 5 seconden.
âš ï¸ Query 1424 duurde langer dan 5 seconden.
âš ï¸ Query 1425 duurde langer dan 5 seconden.
âš ï¸ Query 1426 duurde langer dan 5 seconden.
âš ï¸ Query 1427 duurde langer dan 5 seconden.
âš ï¸ Query 1428 duurde langer dan 5 seconden.
âš ï¸ Query 1429 duurde langer dan 5 seconden.
âš ï¸ Query 1430 duurde langer dan 5 seconden.
âš ï¸ Query 1431 duurde langer dan 5 seconden.
âš ï¸ Query 1432 duurde langer dan 5 seconden.
âš ï¸ Query 1433 duurde langer dan 5 seconden.
âš ï¸ Query 1434 duurde langer dan 5 seconden.
âš ï¸ Query 1435 duurde langer dan 5 seconden.
âš ï¸ Query 1436 duurde langer dan 5 seconden.
âš ï¸ Query 1437 duurde langer dan 5 seconden.
âš ï¸ Query 1438 duurde langer dan 5 seconden.
âš ï¸ Query 1439 duurde langer dan 5 seconden.
âš ï¸ Query 1440 duurde langer dan 5 seconden.
âš ï¸ Query 1441 duurde langer dan 5 seconden.
âš ï¸ Query 1442 duurde langer dan 5 seconden.
âš ï¸ Query 1443 duurde langer dan 5 seconden.
âš ï¸ Query 1444 duurde langer dan 5 seconden.
âš ï¸ Query 1445 duurde langer dan 5 seconden.
âš ï¸ Query 1446 duurde langer dan 5 seconden.
âš ï¸ Query 1447 duurde langer dan 5 seconden.
âš ï¸ Query 1448 duurde langer dan 5 seconden.
âš ï¸ Query 1449 duurde langer dan 5 seconden.
âš ï¸ Query 1450 duurde langer dan 5 seconden.
âœ… 1500 queries verwerkt...
âš ï¸ Query 1517 duurde langer dan 5 seconden.
âš ï¸ Query 1518 duurde langer dan 5 seconden.
âš ï¸ Query 1519 duurde langer dan 5 seconden.
âš ï¸ Query 1520 duurde langer dan 5 seconden.
âš ï¸ Query 1521 duurde langer dan 5 seconden.
âš ï¸ Query 1522 duurde langer dan 5 seconden.
âš ï¸ Query 1523 duurde langer dan 5 seconden.
âš ï¸ Query 1524 duurde langer dan 5 seconden.
âš ï¸ Query 1525 duurde langer dan 5 seconden.
âš ï¸ Query 1526 duurde langer dan 5 seconden.
âš ï¸ Query 1527 duurde langer dan 5 seconden.
âš ï¸ Query 1528 duurde langer dan 5 seconden.
âš ï¸ Query 1529 duurde langer dan 5 seconden.
âœ… 1600 queries verwerkt...
âœ… 1700 queries verwerkt...
âœ… 1800 queries verwerkt...
âœ… 1900 queries verwerkt...
âœ… 2000 queries verwerkt...
âœ… 2100 queries verwerkt...
âœ… 2200 queries verwerkt...
âœ… 2300 queries verwerkt...
âœ… 2400 queries verwerkt...
âš ï¸ Query 2495 duurde langer dan 5 seconden.
âš ï¸ Query 2497 duurde langer dan 5 seconden.
âš ï¸ Query 2498 duurde langer dan 5 seconden.
âš ï¸ Query 2499 duurde langer dan 5 seconden.
âš ï¸ Query 2500 duurde langer dan 5 seconden.
âœ… 2500 queries verwerkt...
âš ï¸ Query 2501 duurde langer dan 5 seconden.
âœ… 2600 queries verwerkt...
âœ… 2700 queries verwerkt...
âš ï¸ Query 2791 duurde langer dan 5 seconden.
âœ… 2800 queries verwerkt...
âœ… 2900 queries verwerkt...
âœ… 3000 queries verwerkt...
âœ… 3100 queries verwerkt...
âœ… 3200 queries verwerkt...
âš ï¸ Query 3223 duurde langer dan 5 seconden.
âš ï¸ Query 3225 duurde langer dan 5 seconden.
âœ… 3300 queries verwerkt...
âœ… 3400 queries verwerkt...
âœ… 3500 queries verwerkt...
âœ… 3600 queries verwerkt...
âš ï¸ Query 3663 duurde langer dan 5 seconden.
âœ… 3700 queries verwerkt...
âœ… 3800 queries verwerkt...
âœ… 3900 queries verwerkt...
âœ… 4000 queries verwerkt...
âœ… 4100 queries verwerkt...
âœ… 4200 queries verwerkt...

In [2]:
from concurrent.futures import ThreadPoolExecutor, as_completed
import pandas as pd
import sqlite3
import time
import os


# ğŸ”§ Pad naar database en timeout
DB_PATH = 'C:/Users/NihalBoukhoubza/OneDrive/Scriptie/shoppingDB_sqlite.sqlite'
MAX_WORKERS = 22
BATCH_SIZE = 100 

# âœ… Functie om query te checken
def check_query(args):
    query, i, queryNumber, CORRECT_RESULTS = args
    message = ""
    try:
        conn = sqlite3.connect(DB_PATH, timeout=1.0)
        start = time.time()
        answer = pd.read_sql_query(query, conn)
        conn.close()
        end = time.time()
        processtime = end - start

        correct = CORRECT_RESULTS.get(queryNumber)
        score = 0
        if correct:
            for item in correct:
                if answer.equals(item):
                    score = 2
                    break

        return i, [score, message, processtime]
    except Exception as e:
        return i, [1, str(e), 20]

# âœ… Correctheid berekenen met threads en logging
def calculateCorrectness(queryList, queryNumberList):
    result = [None] * len(queryList)
    error = [None] * len(queryList)
    processtime = [None] * len(queryList)

    for batch_start in range(0, len(queryList), BATCH_SIZE):
        batch_end = min(batch_start + BATCH_SIZE, len(queryList))
        print(f"ğŸ” Batch {batch_start} - {batch_end} starten...")

        with ThreadPoolExecutor(max_workers=MAX_WORKERS) as executor:
            futures = [
                executor.submit(check_query, (queryList[i], i, queryNumberList[i], CORRECT_RESULTS))
                for i in range(batch_start, batch_end)
            ]

            for completed in as_completed(futures):
                i, item = completed.result()
                result[i] = item[0]
                error[i] = item[1]
                processtime[i] = item[2]
                if i % 25 == 0:
                    print(f"âœ… Query {i} verwerkt...")

    return result, error, processtime


# âœ… Startpunt script
if __name__ == '__main__':
    print("ğŸ“¥ Verbinden met database...")
    conn = sqlite3.connect(DB_PATH)

    CORRECT_RESULTS = {
    '3_3': #Select all different names and ids of the customers who never made a purchase at a store with the name â€˜Kumarâ€™. 
        # Also include the customers who never made a purchase, but are still represented in the customer relation of our database.
       [pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Kumar'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Coop'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Hoogvliet'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Jumbo'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Sligro'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Albert Hein'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Lidl'
                                )
                            ''', conn),
        pd.read_sql_query('''SELECT DISTINCT c.cName, c.cID
                            FROM customer c
                            WHERE c.cID NOT IN (
                                SELECT p.cID
                                FROM purchase p, store s
                                WHERE p.sID=s.sID AND s.sName='Dirk'
                                )
                            ''', conn)

                ],
    '3_4': #Select all different names and ids of customers who made at least one purchase at a store with the name â€˜Kumarâ€™ and never a purchase at a store with a different name than â€˜Kumarâ€™.        
        [pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Kumar' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Kumar'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Jumbo' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Jumbo'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Dirk' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Dirk'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Hoogvliet' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Hoogvliet'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Albert Hein' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Albert Hein'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Sligro' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Sligro'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Coop' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Coop'
                            )
                            ''', conn),
         pd.read_sql_query('''SELECT DISTINCT c1.cName, c1.cID
                            FROM purchase p1, store s1, customer c1
                            WHERE p1.sID=s1.sID AND s1.sName='Lidl' AND p1.cID=c1.cID AND c1.cID NOT IN (
                                SELECT p2.cID
                                FROM purchase p2, store s2
                                WHERE p2.sID=s2.sID AND s2.sName<>'Lidl'
                            )
                            ''', conn)
                ],
    '3_2': #Select all distinct combinations of names and ids of customers who have both a shoppinglist and a purchase, both for the same date in 2018.
        [pd.read_sql_query('''SELECT DISTINCT c.cID, c.cName
                            FROM customer as c, shoppinglist as sl, purchase as p
                            WHERE c.cID = sl.cID
                            AND p.cID = c.cID
                            and sl.date = p.date
                            and sl.date LIKE'%2018%';
                            ''', conn)
                ],
    '4_3': #Write a SQL query for the following RA query
        [pd.read_sql_query('''select sName
                            from store
                            except
                            select sName
                            from (
                               select s.sName, c.city
                                from store as s, (
                                    select city from customer
                                    union
                                    select city from store) as c
                                except
                                select sName, city from store) as a;
                            ''', conn)     
                ],
    '4_4': #List the names of all of those customers, and only of those customers, 
        #that spent an amount of money on any one date that is at least 75% of the maximal amount of money ever spent by a single customer on a single day.
        [pd.read_sql_query('''with ods(cID, date, amount) as (   
                                    select cID, date, sum(quantity * price)   
                                    from purchase   
                                    group by cID, date),
                                mods(amount) as (   
                                    select max(amount)
                                    from ods)
                                select cName from customer, ods, mods
                                where customer.cID = ods.cID and     
                                ods.amount >= 0.75 * mods.amount;
                            ''', conn)
                ],
    '4_5':
        [pd.read_sql_query('''select x.city as city, sum(x.numCustomersPerCity) as numCustomersPerCity
                            from (
                            select y.city, count(*) as numCustomersPerCity
                            from (
                                select distinct c.city, c.cid
                                from customer as c, store as s, purchase as p
                                where c.cid = p.cid and s.sid = p.sid and s.city = "Eindhoven"
                            ) as y
                            group by y.city
                            union
                            select city, 0 as numCustomersPerCity
                            from store
                            union
                            select city, 0 as numCustomersPerCity
                            from customer
                            ) as x
                            group by x.city;''', conn)]
    }


    # ğŸ“‚ Laad de query data
    filename = "C:/Users/NihalBoukhoubza/OneDrive/Scriptie/query_analysis_with_time.csv"
    data = pd.read_csv(filename, sep=',', engine='python', header=0)
    data.columns = data.columns.str.strip()

    print("ğŸ” Kolommen:", data.columns)

    # ğŸ§ª Optioneel: tijdelijk beperken tot eerste 100 queries voor test
    # data = data.head(100)

    print("ğŸš€ Queries controleren...")
    correctness = calculateCorrectness(data['Query'].tolist(), data['Query Name'].tolist())
    data['correct'] = correctness[0]
    data['errormessage'] = correctness[1]
    data['runningtime'] = correctness[2]

    # ğŸ’¾ Opslaan
    output_file = "output_correct.csv"
    data.to_csv(output_file, sep='â”€', index=False, header=True)
    print(f"âœ… Klaar! Resultaten opgeslagen in '{output_file}'")

ğŸ“¥ Verbinden met database...
ğŸ” Kolommen: Index(['Folder', 'File', 'Timestamp', 'Query Name', 'Query', 'Contains error',
       'Error Type', 'Error Message', 'Bracket Count', 'Table Count',
       'Where Count', 'Group By Count', 'Select Count', 'From Count',
       'Join Count', 'Having count', 'Distinct count', 'Group By & Having',
       'Order by count', 'Count Count', 'Sum Count', 'Max Count',
       'Limit Count', 'Union Count', 'As Count', '= Count', '< Count',
       '> Count', 'Like Count', 'In Count', 'with Count', 'Length Count',
       'Word Count', 'Subquery count', 'Comments Count',
       'Invalid Column Count', 'Invalid Tables Count', 'Where Condition Count',
       'Time Spent (seconds)', 'Time Spent (minutes)'],
      dtype='object')
ğŸš€ Queries controleren...
ğŸ” Batch 0 - 100 starten...
âœ… Query 0 verwerkt...
âœ… Query 50 verwerkt...
âœ… Query 75 verwerkt...
âœ… Query 25 verwerkt...
ğŸ” Batch 100 - 200 starten...
âœ… Query 100 verwerkt...
âœ… Query 125 verwerkt...
âœ… Query 150 verwerkt...
âœ… Query 175 verwerkt...
ğŸ” Batch 200 - 300 starten...
âœ… Query 225 verwerkt...
âœ… Query 200 verwerkt...
âœ… Query 275 verwerkt...
âœ… Query 250 verwerkt...
ğŸ” Batch 300 - 400 starten...
âœ… Query 325 verwerkt...
âœ… Query 300 verwerkt...
âœ… Query 350 verwerkt...
âœ… Query 375 verwerkt...
ğŸ” Batch 400 - 500 starten...
âœ… Query 400 verwerkt...
âœ… Query 425 verwerkt...
âœ… Query 475 verwerkt...
âœ… Query 450 verwerkt...
ğŸ” Batch 500 - 600 starten...
âœ… Query 525 verwerkt...
âœ… Query 575 verwerkt...
âœ… Query 500 verwerkt...
âœ… Query 550 verwerkt...
ğŸ” Batch 600 - 700 starten...
âœ… Query 625 verwerkt...
âœ… Query 650 verwerkt...
âœ… Query 675 verwerkt...
âœ… Query 600 verwerkt...
ğŸ” Batch 700 - 800 starten...
âœ… Query 725 verwerkt...
âœ… Query 750 verwerkt...
âœ… Query 775 verwerkt...
âœ… Query 700 verwerkt...
ğŸ” Batch 800 - 900 starten...
âœ… Query 800 verwerkt...
âœ… Query 850 verwerkt...
âœ… Query 825 verwerkt...
âœ… Query 875 verwerkt...
ğŸ” Batch 900 - 1000 starten...
âœ… Query 900 verwerkt...
âœ… Query 925 verwerkt...
âœ… Query 950 verwerkt...
âœ… Query 975 verwerkt...
ğŸ” Batch 1000 - 1100 starten...
âœ… Query 1000 verwerkt...
âœ… Query 1025 verwerkt...
âœ… Query 1050 verwerkt...
âœ… Query 1075 verwerkt...
ğŸ” Batch 1100 - 1200 starten...
âœ… Query 1100 verwerkt...
âœ… Query 1125 verwerkt...
âœ… Query 1175 verwerkt...
âœ… Query 1150 verwerkt...
ğŸ” Batch 1200 - 1300 starten...
âœ… Query 1200 verwerkt...
âœ… Query 1225 verwerkt...
âœ… Query 1250 verwerkt...
âœ… Query 1275 verwerkt...
ğŸ” Batch 1300 - 1400 starten...
âœ… Query 1325 verwerkt...
âœ… Query 1375 verwerkt...
âœ… Query 1350 verwerkt...
âœ… Query 1300 verwerkt...
ğŸ” Batch 1400 - 1500 starten...
âœ… Query 1400 verwerkt...
âœ… Query 1425 verwerkt...
âœ… Query 1450 verwerkt...
âœ… Query 1475 verwerkt...
ğŸ” Batch 1500 - 1600 starten...
âœ… Query 1500 verwerkt...
âœ… Query 1550 verwerkt...
âœ… Query 1525 verwerkt...
âœ… Query 1575 verwerkt...
ğŸ” Batch 1600 - 1700 starten...
âœ… Query 1625 verwerkt...
âœ… Query 1600 verwerkt...
âœ… Query 1650 verwerkt...
âœ… Query 1675 verwerkt...
ğŸ” Batch 1700 - 1800 starten...
âœ… Query 1725 verwerkt...
âœ… Query 1700 verwerkt...
âœ… Query 1750 verwerkt...
âœ… Query 1775 verwerkt...
ğŸ” Batch 1800 - 1900 starten...
âœ… Query 1800 verwerkt...
âœ… Query 1850 verwerkt...
âœ… Query 1875 verwerkt...
âœ… Query 1825 verwerkt...
ğŸ” Batch 1900 - 2000 starten...
âœ… Query 1900 verwerkt...
âœ… Query 1925 verwerkt...
âœ… Query 1975 verwerkt...
âœ… Query 1950 verwerkt...
ğŸ” Batch 2000 - 2100 starten...
âœ… Query 2000 verwerkt...
âœ… Query 2050 verwerkt...
âœ… Query 2025 verwerkt...
âœ… Query 2075 verwerkt...
ğŸ” Batch 2100 - 2200 starten...
âœ… Query 2125 verwerkt...
âœ… Query 2150 verwerkt...
âœ… Query 2175 verwerkt...
âœ… Query 2100 verwerkt...
ğŸ” Batch 2200 - 2300 starten...
âœ… Query 2200 verwerkt...
âœ… Query 2225 verwerkt...
âœ… Query 2275 verwerkt...
âœ… Query 2250 verwerkt...
ğŸ” Batch 2300 - 2400 starten...
âœ… Query 2325 verwerkt...
âœ… Query 2350 verwerkt...
âœ… Query 2375 verwerkt...
âœ… Query 2300 verwerkt...
ğŸ” Batch 2400 - 2500 starten...
âœ… Query 2400 verwerkt...
âœ… Query 2425 verwerkt...
âœ… Query 2475 verwerkt...
âœ… Query 2450 verwerkt...
ğŸ” Batch 2500 - 2600 starten...
âœ… Query 2550 verwerkt...
âœ… Query 2500 verwerkt...
âœ… Query 2575 verwerkt...
âœ… Query 2525 verwerkt...
ğŸ” Batch 2600 - 2700 starten...
âœ… Query 2625 verwerkt...
âœ… Query 2600 verwerkt...
âœ… Query 2650 verwerkt...
âœ… Query 2675 verwerkt...
ğŸ” Batch 2700 - 2800 starten...
âœ… Query 2700 verwerkt...
âœ… Query 2725 verwerkt...
âœ… Query 2750 verwerkt...
âœ… Query 2775 verwerkt...
ğŸ” Batch 2800 - 2900 starten...
âœ… Query 2875 verwerkt...
âœ… Query 2825 verwerkt...
âœ… Query 2800 verwerkt...
âœ… Query 2850 verwerkt...
ğŸ” Batch 2900 - 3000 starten...
âœ… Query 2925 verwerkt...
âœ… Query 2900 verwerkt...
âœ… Query 2975 verwerkt...
âœ… Query 2950 verwerkt...
ğŸ” Batch 3000 - 3100 starten...
âœ… Query 3000 verwerkt...
âœ… Query 3025 verwerkt...
âœ… Query 3050 verwerkt...
âœ… Query 3075 verwerkt...
ğŸ” Batch 3100 - 3200 starten...
âœ… Query 3125 verwerkt...
âœ… Query 3100 verwerkt...
âœ… Query 3150 verwerkt...
âœ… Query 3175 verwerkt...
ğŸ” Batch 3200 - 3300 starten...
âœ… Query 3200 verwerkt...
âœ… Query 3275 verwerkt...
âœ… Query 3250 verwerkt...
âœ… Query 3225 verwerkt...
ğŸ” Batch 3300 - 3400 starten...
âœ… Query 3300 verwerkt...
âœ… Query 3325 verwerkt...
âœ… Query 3375 verwerkt...
âœ… Query 3350 verwerkt...
ğŸ” Batch 3400 - 3500 starten...
âœ… Query 3425 verwerkt...
âœ… Query 3400 verwerkt...
âœ… Query 3475 verwerkt...
âœ… Query 3450 verwerkt...
ğŸ” Batch 3500 - 3600 starten...
âœ… Query 3500 verwerkt...
âœ… Query 3550 verwerkt...
âœ… Query 3525 verwerkt...
âœ… Query 3575 verwerkt...
ğŸ” Batch 3600 - 3700 starten...
âœ… Query 3625 verwerkt...
âœ… Query 3600 verwerkt...
âœ… Query 3650 verwerkt...
âœ… Query 3675 verwerkt...
ğŸ” Batch 3700 - 3800 starten...
âœ… Query 3700 verwerkt...
âœ… Query 3725 verwerkt...
âœ… Query 3750 verwerkt...
âœ… Query 3775 verwerkt...
ğŸ” Batch 3800 - 3900 starten...
âœ… Query 3825 verwerkt...
âœ… Query 3800 verwerkt...
âœ… Query 3875 verwerkt...
âœ… Query 3850 verwerkt...
ğŸ” Batch 3900 - 4000 starten...
âœ… Query 3900 verwerkt...
âœ… Query 3925 verwerkt...
âœ… Query 3950 verwerkt...
âœ… Query 3975 verwerkt...
ğŸ” Batch 4000 - 4100 starten...
âœ… Query 4025 verwerkt...
âœ… Query 4000 verwerkt...
âœ… Query 4050 verwerkt...
âœ… Query 4075 verwerkt...
ğŸ” Batch 4100 - 4200 starten...
âœ… Query 4100 verwerkt...
âœ… Query 4150 verwerkt...
âœ… Query 4175 verwerkt...
âœ… Query 4125 verwerkt...
ğŸ” Batch 4200 - 4236 starten...
âœ… Query 4225 verwerkt...
âœ… Query 4200 verwerkt...
âœ… Klaar! Resultaten opgeslagen in 'output_correct.csv'